<h3>Login</h3>
<form action="/sessions" method="POST">
  email:<br>
  <input type="text" name="sessions[email]">
  <br>
  password:<br>
  <input type="password" name="sessions[password]">
  <br>
  <br>
  <input type="submit" value="Login">
</form>


<br>
<br>
<br>
<br>

<h3>Create a new user</h3>
<form action="/users" method="POST">
  username:<br>
  <input type="text" name="users[username]">
  <br>
  email:<br>
  <input type="text" name="users[email]">
  <br>
  password:<br>
  <input type="password" name="users[password]">
  <br>
  <br>
  <input type="submit" value="Create">
</form>
