<form action="/posts/<%= @post_id %>/comments/<%= @comment_id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <br>
  <br>
  <h1>Edit your comment</h1>
  <textarea name="comments[content]" rows="4" cols="49"><%= Comment.find(@comment_id).content %></textarea>
  <br>
  <br>
  <input type="submit" value="Comment">
</form>



