<h3>Create a new user</h3>
<form action="/users" method="POST">
  username:<br>
  <input type="text" name="users[username]">
  <br>
  email:<br>
  <input type="text" name="users[email]">
  <br>
  password:<br>
  <input type="text" name="users[password]">
  <br>
  <input type="submit" value="Submit">
</form>
