<form action="" method="POST">
  title:<br>
  <input type="text" name="posts[title]">
  <br>
  url:<br>
  <input type="text" name="posts[url]">
  <br>
  or<br>
  <br>
  text:<br>
  <textarea name="posts[content]" rows="4" cols="49"></textarea>
  <br><br>
  <input type="submit" value="Submit">
</form>


