<header>
  <h1><a href="/">Hacker News</a></h1>
  <p>
    <a href="/newest">new</a>
    <a href="/comments">comments</a>
    <a href="/popular">popular</a>
    <a href="/posts/new">submit</a>
    <% if session[:user_id] %>
      <a id="keep-right" href="/sessions/logout">logout</a>
      <a id="keep-right" href="/users/<%= session[:user_id] %>">profile</a>
    <% else %>
      <a id="keep-right" href="/sessions/new">login</a>
    <% end %>
  </p>
</header>
